<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>

    <div class="container" style="text-align: center;">
        {% include 'naybar.html' %}

        <h1> This is Our About Information </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, voluptatem ipsum dolor impedit voluptatum
            maiores sapiente reprehenderit cupiditate beatae corporis velit in eum dignissimos tempore quam! Sapiente
            eum rerum illo unde ad, voluptatibus voluptatem pariatur natus aperiam minima quaerat totam, sunt nam
            commodi ullam fuga. Dolorem assumenda dolores impedit consequatur?</p>
        <button> Contact US</button>
        <!-- new comment -->

    </div>

</body>

</html>